body, input {
  font-family: monospace;
}

code {
  background: #e8e8e8;
  color: #404040;
}

.number {
  color: #f00;
}

.symbol {
  color: #0f0;
}

.paren {
  color: #00f;
}

.function {
  color: #e8e8e8;
}

.error {
  color: #f00;
}

input {
  border: solid 1px #e8e8e8;
  margin: 0;
  padding: 0;
  width: 100%;
}
